{% extends "RecommendIt/layout.html" %}

{% load static %}

{% block body%}


<section class = "banner">
<img style = "width: 100%; height: 300px" src = "https://lh3.googleusercontent.com/BJ_Cu4qINDnrqUqNIYMNzAvTZFM4HVCZBun4SSp49N2MtPQDej5fjeWg06_0XwVKIMx--7IGXWS3EfDW84MV11O3BWiaR2dDpY21RMBBqLv8k3c4-93--lKk-31ANSIbGppDqKB3QA=w2400" />
  <p id="text">
   At RateIT, You Can Have Your Businesses Rated by the People You Serve!
  </p>
</section>
<br>

<div class = "page">




<div class="avatar" >
<img width="300" height="300" src="https://lh3.googleusercontent.com/cL0JTg5e1P5VZH0i8liV9XvDHto0VjweTTXjvAvSowQHvFUDTy3k_6oYP8ZiHJ4bAg-tnBvzEm7ZSgU2sQsuMn9pxFgrUJCJZ1PlEKn-yDclwvGJEmCK2WwgqVH5_5sCKeiY1onj8g=s225-p-k" /> </a> 
<div id = "profile">Simply Make a Profile in the Link Above and have your Businesses Rated</div>
</div>

<div class="box" >
<img width="450" height="300" src="https://lh3.googleusercontent.com/goszyGQQ2DJUyWQp6Ff5nzfMBJbdkWAXnTDK2DQrdF1YXiqJ4ayakEDeDy60MsVD48EgxkXxZTNhnRLE8n3KjDyaxDMOUiV-IGm7neE_upP0eY9OhDpxwaOJnU4hFP588ni6CpBe-w=w2400" /> </a> 
<p style= "text-align: center; font-family: Stencil Std, fantasy">Add Your Businesses and Let Them Be Rated</p>
</div>



</div>












{% endblock %}